# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.env.*
.DS_Store

# VSCode
.vscode/

# FastAPI
*.log

# OS
Thumbs.db

# BlunderFixer user data cache
data/*
!.gitkeep

# Local SQLite database
blunderfixer.db
*.db

#sync and worker logs
logs/
